[submodule "sqrat"]
	path = sqrat
	url = https://gitlab.com/GothicMultiplayerTeam/dependencies/sqrat.git
[submodule "squirrel"]
	path = squirrel
	url = https://gitlab.com/GothicMultiplayerTeam/dependencies/squirrel
